In [59]:
!pip install sqlalchemy
!pip install pyodbc

Requirement already satisfied: sqlalchemy in c:\users\mrtar\anaconda3\lib\site-packages (2.0.37)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mrtar\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mrtar\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Requirement already satisfied: pyodbc in c:\users\mrtar\anaconda3\lib\site-packages (4.0.39)

In [267]:
from sqlalchemy import create_engine, MetaData, Table, inspect, text
import pandas as pd
import logging
import pytest

In [269]:
# configure logging
logging.basicConfig(filename='py_log2.log', level=logging.ERROR,
                   format='%(asctime)s - %(levelname)s - %(message)s')

# create engine function
def new_engine(dialect, server, database, user=None, password=None, integrated_security=True):
    try:
        if integrated_security:
            # For Windows authentication:
            eng = f"{dialect}://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server"
        else:
            eng = f"{dialect}://{user}:{password}@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"
        print(f'Connecting to: {eng}.')
        return create_engine(eng)
    except Exception as e:
        logging.error(f'Database engine creation failed: {e}.')
        raise # Re-raise exception

In [271]:
# connect to SQL Server
try:
    engine = new_engine('mssql', 'MARINA', 'ExampleDatabase', integrated_security=True)
    connection = engine.connect()
    print('Connection to database successfull.')
except Exception as e:
    logging.error(f'Connection to database failed: {e}')
    raise # stop if connection fails

Connecting to: mssql://MARINA/ExampleDatabase?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server.
Connection to database successfull.

In [273]:
# read data from SQL Table
TABLE_NAME = "dbo.Customer"

try:
    query = f'SELECT * FROM {TABLE_NAME}'
    df = pd.read_sql(query, connection)
    print(df.head())
except Exception as e:
    logging.error(f'Failed to read data: {e}')
    raise

            SSNO FirstName    LastName       City
0  19560113-1313     Kalle    KARLSSON  Stockholm
1  19920415-4534       Kim    ALFSTRÖM       None
2  20030603-7834     Julia   JOHANSSON      Malmö
3  20080107-3341     Sofia  EDVARDSSON   Göteborg

In [276]:
df["LastName"] = df["LastName"].str.upper()
print(df[["SSNO", "LastName"]].head())

            SSNO    LastName
0  19560113-1313    KARLSSON
1  19920415-4534    ALFSTRÖM
2  20030603-7834   JOHANSSON
3  20080107-3341  EDVARDSSON

In [278]:
try:
    for index, row in df.iterrows():
        query = text("""
        UPDATE dbo.Customer
        SET LastName = :last_name
        WHERE SSNO = :ssno
        """)
        connection.execute(query, {"last_name": row["LastName"], "ssno": row["SSNO"]})

    connection.commit()
    print("SQL table is updated!")
    
except Exception as e:
    logging.error(f'Failed to update SQL table: {e}')
    raise

connection.close()

SQL table is updated!

In [264]:
# running the test script

pytest.main(["-q", "test_script.py"])

...                                                                      [100%]
3 passed in 0.14s